**/target
**/*.py
**/*.pyc
Cargo.lock
**/.vscode
**/src/custom
**/src/mario
*.lnk
.devcontainer/Dockerfile
.devcontainer/Dockerfile
nro/install.ps1
nro/install.ps1
nro/build.ps1
src/hook - Copy.rs
nro/install.ps1
